{{ range first 3 (where .Site.RegularPages.ByDate.Reverse "Type" "in"  "article, day_to_day") }}
    <div>
        <h2>
            {{ if eq .Type "day_to_day"}}
            <a href="{{ .Permalink }}">Day to Day: {{ .Title }}</a>
            {{ else }}
            <a href="{{ .Permalink }}">{{ .Title }}</a>
            {{ end}}
        </h2>
        <div>{{.Summary}} <span class='read-more'><a href="{{ .Permalink }}">Read more</a></span></div>
        <div class='meta-date'>
            <time datetime="{{.Date.Format "2006-01-02T15:04:05Z0700" }}">{{ .Date.Format "2 January 2006" }}</time>
        </div>
    </div>
{{ end }}
{{ if after 3 (where .Site.RegularPages.ByDate.Reverse "Type" "in"  "articles, day_to_day")}}
<div>
    <hr>
</div>
{{ range after 3 (where .Site.RegularPages.ByDate.Reverse "Type" "in"  "articles, day_to_day") }}
    <div>
        <h3 class='previous-title'>
            {{ if eq .Type "day_to_day"}}
            <a href="{{ .Permalink }}">Day to Day: {{ .Title }}</a>
            {{ else }}
            <a href="{{ .Permalink }}">{{ .Title }}</a>
            {{ end}}
        </h3>
        <div class='meta-date'>
            <time datetime="{{.Date.Format "2006-01-02T15:04:05Z0700" }}">{{ .Date.Format "2 January 2006" }}</time>
        </div>
    </div>
{{ end }}
{{ end }}